[defaults]
duplicate_dict_key = error
inventory      = ./hosts
inventory_plugins = ./plugins
roles_path    = ./roles

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
